Elite/EliteUi/Service References/EliteServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EliteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetHttpBinding_IEliteService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEliteService_SendKeyDown_InputMessage">
    <wsdl:part name="parameters" element="tns:SendKeyDown" />
  </wsdl:message>
  <wsdl:message name="IEliteService_SendKeyDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendKeyDownResponse" />
  </wsdl:message>
  <wsdl:message name="IEliteService_SendKeyUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SendKeyUp" />
  </wsdl:message>
  <wsdl:message name="IEliteService_SendKeyUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendKeyUpResponse" />
  </wsdl:message>
  <wsdl:portType name="IEliteService">
    <wsdl:operation name="SendKeyDown">
      <wsdl:input wsaw:Action="http://tempuri.org/IEliteService/SendKeyDown" message="tns:IEliteService_SendKeyDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEliteService/SendKeyDownResponse" message="tns:IEliteService_SendKeyDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendKeyUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IEliteService/SendKeyUp" message="tns:IEliteService_SendKeyUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEliteService/SendKeyUpResponse" message="tns:IEliteService_SendKeyUp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetHttpBinding_IEliteService" type="tns:IEliteService">
    <wsp:PolicyReference URI="#NetHttpBinding_IEliteService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendKeyDown">
      <soap12:operation soapAction="http://tempuri.org/IEliteService/SendKeyDown" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendKeyUp">
      <soap12:operation soapAction="http://tempuri.org/IEliteService/SendKeyUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EliteService">
    <wsdl:port name="NetHttpBinding_IEliteService" binding="tns:NetHttpBinding_IEliteService">
      <soap12:address location="http://localhost:8642/EliteService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8642/EliteService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>